<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bsuinteractivemap">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <application
        android:name="com.example.bsuinteractivemap.WorkManagerApplication"
        android:icon="@mipmap/ic_launcher_bsu"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_bsu_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BSUInteractiveMap"
        android:usesCleartextTraffic="true">
        <!--Landscape orientation is temporarily disabled in the application (it will be developed  in the future)-->
        <activity
            android:name="com.example.ui.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>